<!DOCTYPE html>
<html lang=<%- config.language %>
    <%- partial('partial/header') %>

    <body>
        <main>
            <%- partial('partial/navbar') %>
            <%- body %>
        </main>
        <%- partial('partial/footer') %>
    </body>

</html>