<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guillaume Meigniez | Creative Engineer - Front-End & Data Visualization Developer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,400&family=STIX+Two+Math&display=swap" rel="stylesheet">
    <%- css('./reset.css') %>
    <%- css('./style.css') %>
</head>

<body>
    <%- partial('partial/header') %>
        <main>
            <%- partial('partial/navbar') %>
                <%- body %>
        </main>
        <%- partial('partial/footer') %>
</body>

</html>