<%- css('./post.css') %>

<div class="post-header">
    <a href="/<%= page.path.split('/')[0] %>">back</a>
    <h2><%- page.title %></h2>
    <span class="post-date"><%= time(page.date, 'MMM Do YYYY') %></span>
</div>
<div class="post-content">
    <% if (page.albumUrl) { %>
        <a href="<%= url_for(page.albumUrl) %>" target="_blank">View the full album on Flickr <%- partial('partial/new-tab-icon') %></a>
    <% } %>

    <%- page.content %>

    <% if (page.fullTextUrl) { %>
        <a href="<%= url_for(page.fullTextUrl) %>" >Read more...</a>
    <% } %>
</div>